name: Start & Stop Tracee Background Scan
on:
  push:
    branches:
    - "*"

jobs:
  Tracee-Scan:
    timeout-minutes: 5
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Start Tracee profiling in background
      uses: simar7/tracee-action-start@main
      with:
        workdir: "/tmp/tracee"

    #    - name: Check if tracee was successfully started
    #      run: |
    #        sleep 30
    #        docker images -a
    #        docker ps -a
    #        docker logs tracee-profiler | head
    #        echo $?

    - name: Simulate work
      run: for i in {1..20}; do sleep 2 && strace ls; done

    - name: Stop Tracee profiling
      uses: simar7/tracee-action-stop@main

    - name: Show Tracee profile
      run: cat /tmp/tracee/out/tracee.profile

    #    - name: Check if tracee was successfully stopped
    #      run: |
    #        docker ps -a
    #        pwd
    #        ls -lrth /tmp
    #        ls -lrth $(pwd)
    #        ls -lrRth /tmp/tracee
    #        cat /tmp/tracee/out/tracee.profile

    - name: Compare and create a PR
      uses: simar7/tracee-action-create-pr@main
      with:
        workdir: "/tmp/tracee"